---
import Container from "./Container.astro";
---

<div class="relative py-8">
  <div
    aria-hidden="true"
    class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40"
  >
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400">
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300">
    </div>
  </div>
  <Container>
    <div class="relative">
      <div
        class="flex items-center justify-center -space-x-1  "
      >
        <div class="contenedor-personal">
          <button
            data-popover-target="popover-default-1"
            type="button"
            class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            <img
              loading="lazy"
              width="100"
              height="100"
              src="./img/avatars/gnzZenith.png"
              alt="member photo"
              class="object-cover"
              style="border-radius: 5px;"
            /></button
          >

          <div
            data-popover
            id="popover-default-1"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
          >
            <div
              class="px-3 py-2 bg-tercer border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
            >
              <h3 class="font-semibold text-gray-900 dark:text-white">
                Gonzalo Lobo
              </h3>
            </div>
            <div class="px-3 py-2">
              <p>Desarrollo Web</p>
            </div>
            <div data-popper-arrow></div>
          </div>
        </div>
        <div class="contenedor-personal">
          <button
            data-popover-target="popover-default-2"
            type="button"
            class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            <img
              loading="lazy"
              width="100"
              height="100"
              src="./img/avatars/smm.png"
              alt="member photo"
              class="object-cover"
              style="border-radius: 5px;"
            /></button
          >

          <div
            data-popover
            id="popover-default-2"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
          >
            <div
              class="px-3 py-2 bg-tercer border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
            >
              <h3 class="font-semibold text-gray-900 dark:text-white">
                Victoria
              </h3>
            </div>
            <div class="px-3 py-2">
              <p>Social Media</p>
            </div>
            <div data-popper-arrow></div>
          </div>
        </div>
        <div class="contenedor-personal">
          <button
            data-popover-target="popover-default-3"
            type="button"
            class="text-white focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            <img
              loading="lazy"
              width="100"
              height="100"
              src="./img/avatars/gasp2.png"
              alt="member photo"
              class="object-cover"
              style="border-radius: 5px;"
            /></button
          >

          <div
            data-popover
            id="popover-default-3"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
          >
            <div
              class="px-3 py-2 bg-tercer border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
            >
              <h3 class="font-semibold text-gray-900 dark:text-white">
                Gaspar Cerezo
              </h3>
            </div>
            <div class="px-3 py-2">
              <p>CEO</p>
            </div>
            <div data-popper-arrow></div>
          </div>
        </div>
        <div class="contenedor-personal">
          <button
            data-popover-target="popover-default-4"
            type="button"
            class="text-white focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            <img
              loading="lazy"
              width="100"
              height="100"
              src="./img/avatars/danaZenith.png"
              alt="member photo"
              class="relative object-cover"
              style="border-radius: 5px;"
            /></button
          >

          <div
            data-popover
            id="popover-default-4"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
          >
            <div
              class="px-3 py-2 bg-tercer border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
            >
              <h3 class="font-semibold text-gray-900 dark:text-white">
                Dana Cisterna
              </h3>
            </div>
            <div class="px-3 py-2">
              <p>Marketing Digital</p>
            </div>
            <div data-popper-arrow></div>
          </div>
        </div>
        <div class="contenedor-personal">
          <button
            data-popover-target="popover-default-5"
            type="button"
            class="text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            <img
              loading="lazy"
              width="100"
              height="100"
              src="./img/avatars/legales2.png"
              alt="member photo"
              class="object-cover"
              style="border-radius: 5px;"
            /></button
          >

          <div
            data-popover
            id="popover-default-5"
            role="tooltip"
            class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
          >
            <div
              class="px-3 py-2 bg-tercer border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700"
            >
              <h3 class="font-semibold text-gray-900 dark:text-white">
                Facundo Cinto
              </h3>
            </div>
            <div class="px-3 py-2">
              <p>Legales</p>
            </div>
            <div data-popper-arrow></div>
          </div>
        </div>
        <!-- <div class="contenedor-personal text-center">
          <img
            loading="lazy"
            width="100"
            height="100"
            src="./img/avatars/gnzZenith.png"
            alt="member photo"
            class="object-cover"
            style="border-radius: 5px;"
          />

          <p
            class="mt-2 text-center text-black bg-slate-400 shadow-sm tag"
            style="border-radius: 5px;"
          >
            Desarrollo Web
          </p>
        </div> -->

        <!-- <div class="contenedor-personal">
          <img
            loading="lazy"
            width="100"
            height="100"
            src="./img/avatars/smm.png"
            alt="member photo"
            class="object-cover"
            style="border-radius: 5px;"
          />
          <p
            class="mt-2 text-center text-black bg-slate-400 shadow-sm tag"
            style="border-radius: 5px;"
          >
            Social Media
          </p>
        </div> -->
        <!-- <div class="contenedor-personal">
          <img
            loading="lazy"
            width="100"
            height="100"
            src="./img/avatars/gasp2.png"
            alt="member photo"
            class="object-cover"
            style="border-radius: 5px;"
          />
          <p
            class="mt-2 text-center text-black bg-slate-400 shadow-sm tag"
            style="border-radius: 5px;"
          >
            CEO
          </p>
        </div> -->
        <!-- <div class="contenedor-personal">
          <img
            loading="lazy"
            width="100"
            height="100"
            src="./img/avatars/danaZenith.png"
            alt="member photo"
            class="relative object-cover"
            style="border-radius: 5px;"
          />
          <p
            class="mt-2 text-center text-black bg-slate-400 shadow-sm tag"
            style="border-radius: 5px;"
          >
            Marketing Digital
          </p>
        </div> -->
        <!-- <div class="contenedor-personal">
          <img
            loading="lazy"
            width="100"
            height="100"
            src="./img/avatars/legales2.png"
            alt="member photo"
            class="object-cover"
            style="border-radius: 5px;"
          />
          <p
            class="mt-2 text-center text-black bg-slate-400 shadow-sm tag"
            style="border-radius: 5px;"
          >
            Legales
          </p>
        </div> -->
      </div>
      <div class="mt-6 m-auto space-y-6 md:w-8/12 lg:w-7/12">
        <h1 class="text-center text-4xl font-bold text-gray-800 md:text-5xl">
          Reserva tu consulta GRATUITA!
        </h1>
        <p class="text-center text-xl text-gray-600">
          ¡Contactanós hoy mismo para una consulta gratuita!
        </p>
        <div class="flex flex-wrap justify-center gap-6">
          <a
            href="https://api.whatsapp.com/send?phone=+5493865751144&text=Hola Zenith Agency, me interesan sus servicios"
            class="boton relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full bg-primary rounded-full hover:bg-tercer before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Nuestro WhatsApp</span
            >
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=+5493865751144&text=Hola Zenith Agency, quisiera agendar una cita"
            class="boton relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 hover:bg-primary/10 bg-tercer hover:text-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-white hover:text-primary"
              >Agendar cita</span
            >
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
></script>

<style>
  .tag {
    --tw-bg-opacity: 1;
    background-color: rgba(148, 163, 184, 0.475);
    border: 1px solid #80808047;
    font-size: small;
  }

  .boton {
    border-radius: 5px;
  }

  @media only screen and (max-width: 768px) {
    .boton {
      width: 220px;
    }

    img {
      width: 180px;
    }
  }
</style>
