---
import Container from "./Container.astro"

---

<!-- <div class="text-gray-600 dark:text-gray-300" id="Etapas">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Etapas de Transformación Digital
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="absolute -bottom-5 -right-5 z-0">
        <div class="flex flex-wrap items-center gap-2 w-full max-w-[100px]" x-data="{}">
          <template x-for="index in 72" :key="index">
            <span class="block w-1 h-1 rounded-full bg-green"
            ></span>
          </template>
        </div>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600  dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">1.A</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Desarrollo de Sitios Web</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Presencia Online</p>
          </div>
        </div>
        <p class="mt-8">Registro de dominio. <br>Creación de sitio web personalizado y optimizado. <br> Diseño responsivo y amigable para dispositivos móviles.</p>
        
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600  dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">1.B</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">RRSS e identidad digital</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Presencia Online</p>
          </div>
        </div>
        <p class="mt-8">Creación y optimización de perfiles en redes sociales. <br>Identidad digital en Google.<br>Investigación de palabras clave asociadas al rubro. <br>Optimización de contenido de la web para mejorar la visibilidad en motores de búsqueda.</p>
      </div>
      
        <div class="video mt-48">
          <iframe class="mt-8 flex justify-center mt-4 rounded-3xl" width="560" height="315" src="https://www.youtube.com/embed/PNRmAiyYNCY?si=xkPyALGuN8TKtqr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div> -->
      
      <!-- <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600  dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">2.A</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Marketing de Contenidos</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Posicionamiento y Estrategias Digitales</p>
          </div>
        </div>
        <p class="mt-8">Planificación de contenido con calendario. <br> Configuración de Redes Sociales. <br>Creación de contenido relevante y valioso. <br>Creacion de estrategica de contenido, marketing de contenidos para atraer y retener audiencia. </p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600 dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">2.B</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Análisis de competencias</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Posicionamiento y Estrategias Digitales</p>
          </div>
        </div>
        <p class="mt-8">Implementación y análisis de herramientas de análisis de datos. <br>Informes sobre el rendimiento de la estrategia digital.</p>
      </div>
      <br> -->
      <!-- <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600  dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">3.A</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Campañas Publicitarias</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Campañas y Tracción de Clientes</p>
          </div>
        </div>
        <p class="mt-8">Creación y gestión de campañas publicitarias en plataformas Meta y Google.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl dark:to-indigo-600  dark:shadow-none">
        <div class="flex gap-4">
          <p class="font-bold">3.B</p>
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Generación de Leads</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Campañas y Tracción de Clientes</p>
          </div>
        </div>
        <p class="mt-8">Implementación de estrategias para caputrar leads cuantificados. <br>Uso de formularios. CTA. <br>Implementación de herramientas de automatización. <br>Seguimiento automático de clientes potenciales y clientes. <br>Monitorización continua de campañas. <br>Ajuste estratégico según los resultados obtenidos. </p>
      </div>

    </div>
  </Container>
</div> -->