---
import { AstroFont } from "astro-font";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import LogoWp from "../assets/Img/whatsapp.svg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img/isotipoZenithBlanco.png" />
    <meta
      name="description"
      content=" Zenith Agency -Transformación Digital & Growth. Somos una agencia de marketing y transformacion digital comprometida
    a propulsar tu negocio hasta lo mas alto en el cielo"
    />
    <title>Zenith Agency - Transformación Digital & Growth</title>
    <!-- <AstroFont
      config={[
        {
          src: [],
          name: "Urbanist",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap",
        },
      ]}
    /> -->
  </head>
  <body class="">
    <AppHeader />
    <slot />
    <AppFooter />
    <div class="fixed bottom-6 z-40 w-max whatsapp">
      <a
        href="https://whatsappweb.com"
        target="_blank"
        class="flex gap-3 rounded-2xl border cta from-white/50 p-3 shadow-2xl backdrop-blur-xl dark:border-white/10 dark:from-gray-800 dark:to-black/70 dark:shadow-primary/50"
      >
        <img src={LogoWp} alt="" />
      </a>
    </div>
    <style>
      @font-face {
        font-family: "LemonMilk";
        src: url("/fonts/LEMONMILK-Bold.otf") format("otf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

      html {
        scroll-behavior: smooth;
        font-family: "LemonMilk", sans-serif;
      }

      body {
        margin: 0;

        font-family: "LemonMilk", sans-serif !important;
      }

      .cta {
        background-color: rgb(173, 136, 246);
      }

      .whatsapp {
        right: 1.5rem;
      }
    </style>
  </body>
</html>
